[Unit]
Description=Apache Block - Web Server Security Tool
After=network.target

[Service]
ExecStart=/usr/local/bin/apacheblock -server apache -logPath /var/log/apache2
Restart=always
RestartSec=10
User=root
Group=root

[Install]
WantedBy=multi-user.target